{%extends "department/base.html"%}
{%load static%}
{% load custom_tags %}
{%block style%}
<link href={% static "/img/app-icon-all.png"%} rel="shortcut icon">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-6o3tPtQyASQw5kF5tReF6U3bJ0PLyp7ZnN5CQe5eBbm9FSuF9hXnO/GJS2doq5F4DlYbKN8cdSGcuW2meGwMZg==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
<link rel="stylesheet" href={% static "css/medcard.css"%}>
{%endblock%}
{%block header%}
    <header>     
        <i class="fa-solid fa-xmark" style="margin-left: 99%; font-size: 20px; cursor: pointer;" onclick="gotodep()"></i>
  </header>
{%endblock%}
{%block content%}
    <div class="block1">
      <div class="block2">
        <button class="btn_block2 active" id="all-patients-btn" onclick="showContent('content1')">Данные</button>
        <button class="btn_block2" id="my-patients-btn" onclick="showContent('content2')">Медицинские записи</button>
      </div>
    </div>
    <div id="content1" class="content1 active">
      <div class="status">
        <span>{{patient.last_name}} {{patient.first_name}} {{patient.surname}}, {{ patient.age }} {{ patient.age|age_pluralize}}</span> <br />
        <span id="status">Статус МК: </span><span class="status-open" id="status">Открыта</span>
      </div>
      <div class="info-section">
        <div class="section-title">Информация о пациенте</div>
        <div class="info-block">
          <div>
            <i class="fas fa-calendar-alt"></i>
            <span class="span_pokaz">Дата рождения: <span class="span_rez" id="dob">{{patient.birth_date}}</span></span>
          </div>
          <div>
            <i class="fas fa-id-card"></i> <span class="span_pokaz">ИИН: <span class="span_rez" id="iin">{{patient.iin}}</span></span>
          </div>
        </div>
        <div class="info-block">
          <div>
            <i class="fas fa-info-circle"></i> <span class="span_pokaz">Номер МК: <span class="span_rez" id="mk_number">{{med_card.med_card_number}}</span></span>
          </div>
          <div><i class="fas fa-venus-mars"></i> <span class="span_pokaz">Пол: <span class="span_rez" id="gender"> {{patient.gender}} </span></span></div>
        </div>
        <div class="info-block">
          <div>
            <i class="fas fa-ruler-vertical"></i> <span class="span_pokaz">Рост: <span class="span_rez" id="height"> {{metricks.height}} см</span></span>
          </div>
          <div><i class="fas fa-weight"></i> <span class="span_pokaz">Вес: <span class="span_rez" id="weight"> {{metricks.weight}} кг</span></span></div>
        </div>
      </div>
      <div class="warning-section">
        <div class="section-title">Сведения</div>
        <div class="btn-wrapper">
          <button class="btn_in2 reanimation" style="background: #f80202b9"> <!-- у реаниматион менять дисплей ноне если он не в реанимации, дисплей флекс если в реанимации-->
            <i class="fas fa-exclamation-triangle"></i>
            <span>В реанимации</span>
          </button>
          <button class="btn_in2" onclick="hospitalization_information('{{patient.id}}')">
            <i class="fas fa-hospital"></i>
            <span>Данные о госпитализации</span>
          </button>
          <button class="btn_in2" onclick="archive_medcards('{{patient.id}}')">
            <i class="fas fa-folder-open"></i>
            <span>Архивные мед. карты</span>
          </button>
        </div>
      </div>
      <div class="measurements-section">
        <div class="section-title">Показатели</div>
        <div class="info-block">
          <div>
            <i class="fas fa-thermometer-half"></i>
            <span class="span_pokaz">Температура: <span class="span_rez" id="temperature"> {{metricks.temperatury}}</span></span>
          </div>
          <div><i class="fas fa-heartbeat"></i> <span class="span_pokaz">АД: <span class="span_rez" id="bp"> {{metricks.pressure}} </span></span></div>
        </div>
        <div class="info-block">
          <div><i class="fas fa-heart"></i> <span class="span_pokaz">ЧСС: <span class="span_rez" id="pulse"> {{metricks.puls}} </span></span></div>
          <div><i class="fas fa-tint"></i> <span class="span_pokaz">Сатурация: <span class="span_rez" id="saturation"> {{metricks.saturation}} </span></span></div>
        </div>
        <div class="info-block">
          <div><i class="fas fa-lungs"></i> <span class="span_pokaz">ЧДД: <span class="span_rez" id="rr"> {{metricks.resperatory_rate}} </span></span></div>
          <div><i class="fas fa-hashtag"></i> <span class="span_pokaz">Выпускники: <span class="span_rez" id="pusk"> 0 </span></span></div>
        </div>
      </div>
      <a id="editBtn" style="cursor: pointer; color: rgb(27, 76, 181); border-bottom: 1px solid rgb(27, 77, 185);">Редактировать</a>
    </div>
    <div id="content2" class="content2">
      <div class="forms">
        <form class="form_class">
          <select name="categories" id="categories" class="ds-select" onchange="FilterRecords('{{patient.id}}')">
            <option value="all">Все</option>
            <option value="analyzes">Анализы</option>
            <option value="examinations">Первичный осмотр</option>
            <option value="diagnoses">Дигнозы</option>
            <option value="diaries">Дневники</option>
          </select>
        </form>
        <form class="form_class">
          <select name="date" id="date" class="ds-select" onchange="FilterRecords('{{patient.id}}')">
            <option value="all_time">За все время</option>
            <option value="today">Сегодня</option>
            <option value="yesterday">Вчера</option>
            <option value="last_2_days">Последние 2 дня</option>
          </select>
        </form>
        <form class="form_class">
          <select name="categories_select" id="list_type" class="ds-select" onchange="FilterRecords('{{patient.id}}')">
            <option value="by_category">По категориям</option>
            <option value="chronologically">По хронологии</option>
          </select>
        </form>
      </div>
      <div class="input-group">
        <input id="search-input" type="search" class="search" placeholder="Поиск анализа"/>
        <button id="search-btn" type="button" class="search-btn">Поиск</button>
      </div>
      <div id="categories-block" class="content11">
        <div id="categories-items-container" class="buttons-vertical">
          <div id="analyzes" class="button" onclick="toggleDropdown1('dropdown_analyzes')">
            <span class="button-title">Результаты анализов</span>
            <span id="analyzes-count">({{analyzes.count}})</span>
          </div>
          
          <div id="dropdown_analyzes" class="dropdown1">
            {%for analisis in analyzes%}
            <div class="dropdown-item" onclick="analyzes('{{analisis.id}}')" id="analisis">
              <div class="span-column">
                <span class="item-title">{{analisis.analysis_name}}</span>
                <span class="item-date">{{analisis.date|date:"d.m.Y"}}</span>
              </div>
              <i class="fa-solid fa-arrow-right awesome"></i>
            </div>
            {%endfor%}
          </div>
          <div id="examinations"class="button" onclick="toggleDropdown1('dropdown_examinations')">
            <span class="button-title">Первичный осмотр</span>
            <span id="examinations-count">({{examinations.count}})</span>
          </div>
          <div id="dropdown_examinations" class="dropdown1">
            {%for examination in examinations%}
            <div class="dropdown-item" onclick="inspections('{{examination.id}}')" id="d4">
              <div class="span-column">
                <span class="item-title">Первичный осмотр</span>
                <span class="item-date">{{examination.date|date:"d.m.Y"}}</span>
              </div>
              <i class="fa-solid fa-arrow-right awesome"></i>
            </div>
            {%endfor%}
            
          </div>
          <div id="diagnoses" class="button" onclick="toggleDropdown1('dropdown_diagnoses')">
            <span class="button-title">Диагнозы</span>
            <span id="diagnoses-count">({{diagnoses.count}})</span>
          </div>
          <div id="dropdown_diagnoses" class="dropdown1">
            {%for diagnose in diagnoses%}
            <div class="dropdown-item" onclick="diagnoses('{{diagnose.id}}')" id="d7">
              <div class="span-column">
                <span class="item-title">{{diagnose.code}}</span>
                <span class="item-date">{{diagnose.date|date:"d.m.Y"}}</span>
                <span class="item-date">{{diagnose.get_kind_display}}</span>
              </div>
              <i class="fa-solid fa-arrow-right awesome"></i>
            </div>
            {% endfor %}
          </div>
          <div id="diaries" class="button" onclick="toggleDropdown1('dropdown_diaries')">
            <span class="button-title">Дневники</span>
            <span id="diaries-count">({{diaries.count}})</span>
          </div>
          <div id="dropdown_diaries" class="dropdown1">
            {%for diary in diaries%}
            <div class="dropdown-item" onclick="diaries('{{diary.id}}')" id="d10">
              <div class="span-column">
                <span class="item-title">{{diary.date|date:"d.m.Y H:i"}}</span>
                <span class="item-date">{{diary.additional}}</span>
              </div>
              <i class="fa-solid fa-arrow-right awesome"></i>
            </div>
            {%endfor%}
          </div>
          <a id="new_diaries" style="cursor: pointer; color: rgb(27, 76, 181); border-bottom: 1px solid rgb(27, 77, 185); margin-top: 6px; width: fit-content;" onclick="new_diaries()">Добавить дневник</a>
        </div>

      </div>

      <div id="no-category-block" class="content12">
        <div id = 'items-container' class="buttons-vertical">
        </div>
        <a id="new_diaries" style="cursor: pointer; color: rgb(27, 76, 181); border-bottom: 1px solid rgb(27, 77, 185); width: fit-content;" onclick="new_diaries()">Добавить дневник</a>
      </div>
    </div>
    <div id="custom-modal" class="modal">
      <div class="custom-modal-content">
          <span class="close" onclick="closeModal()">&times;</span>
          <h2>Добавить дневник</h2>
          <form>
              <label for="patient-name">Пациент:</label>
              <input type="text" id="patient-name" name="patient-name" value="Константиновский Константин Константинович" disabled>

              <label for="diary-date">Указать дату дневника:</label>
              <input type="date" id="diary-date" name="diary-date">

              <label for="diary-type">Выбрать вид дневника:</label>
              <select id="diary-type" name="diary-type">
                  <option value="general">Ежедневный обход</option>
                  <option value="medication">Обзвон</option>
                  <option value="progress">Общий обход</option>
              </select>

              <label for="main-text">Состав обхода</label>
              <textarea id="main-text" name="main-text" placeholder="Введите состав обхода"></textarea>
              
              <label for="sub-text">Данные объективного осмотра</label>
              <textarea id="sub-text" name="sub-text" placeholder="Введите данные объективного осмотра"></textarea>
              
              <label for="extra-text">Дополнительные сведения</label>
              <textarea id="extra-text" name="extra-text" placeholder="Введите дополнительные сведения"></textarea>
              
              <button type="submit">Добавить</button>
          </form>
      </div>
  </div>
{%endblock%}
{%block scripts%}
    <script src="{% static 'scripts/medcard.js'%}"></script>
    <script src="{% static 'scripts/filter_records.js'%}"></script>
{%endblock%}

