{%load static%}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>{{title}}</title>
    {%block style%}
    {%endblock%}

</head>
<body>
    <header>
        <div style="flex-direction: row;width: 100%; max-width: 100%; display: flex; justify-content: space-between; align-items: center;">
            <img src="{% static "img/head-logo.png" %}" alt="logo" class="logo">
            <form>
                <label for="department-select">Ваше отделение</label>
                <select name="department" id="department-select" class="ds-select" onchange="ShowPatients()">
                    <option value="all">Все отделение</option>
                    {%for dep in departments%}
                    <option value="{{dep.id}}">{{dep}}</option>
                    {%endfor%}
                </select>
            </form>
            <div style="position: relative; display: inline-block;">
                <a href="#" class="dropdown-toggle"><i class="fa-solid fa-user-nurse doctor doctor-icon"></i><span>{{doctor_name}}</span></a>
                <div class="dropdown-menu">
                    <div class="doctor-name">{{doctor_name}}</div>
                    <button href="{% url 'accounts:logout' %}  "class="logout-button" >Выход</button>
                </div>
            </div>
        </div>
    </header>
    <main>
        {%block content%}
        {%endblock%}
    </main>
</body>
{%block scripts%}
{%endblock%}
<script src="https://kit.fontawesome.com/09ef455c42.js" crossorigin="anonymous"></script>

</html>