{%extends 'department/base.html'%}
{%load static%}
{% load custom_tags %}
{%block style%}
<link rel="stylesheet" href={%static "css/department.css" %}>
{%endblock%}

{%block content%}
    <div class="block1">
        <div class="block2">
            <button class="btn_block2 active" id="all-patients-btn" onclick="showAllPatients()">Все пациенты</button>
            <button class="btn_block2" id="my-patients-btn" onclick="showMyPatients()">Мои пациенты</button> 
        </div>
        <div class="input-group">
            <input id="search-input" type="search" class="search" placeholder="Поиск пациента">
            <button id="search-btn" type="button" class="search-btn">Поиск</button>
        </div>
    </div>
    <div class="patient-list">
        {%for patient in patients_of_department%}
            <div class="patient-item">
                <span><i class="fa-solid fa-clipboard-user"></i>{{patient.last_name}} {{patient.first_name}} {{patient.surname}}</span>
                <span>{{ patient.age }} {{ patient.age|age_pluralize }}, госпитализация: {{patient.receipt_date|date:"d.m.Y H:i"}}</span>
            </div> 
        {%endfor%}
        </div>
   
{%endblock%}

{%block scripts%}
<script src="{%static "scripts/department.js"%}"></script>
{%endblock%}

