{%extends 'department/base.html'%}
{%load static%}
{% load custom_tags %}
{%block style%}
<link rel="stylesheet" href={%static "css/department.css" %}>
{%endblock%}
{%block header%}
<header>
    <div style="flex-direction: row;width: 100%; max-width: 100%; display: flex; justify-content: space-between; align-items: center;">
        <img src="{% static "img/head-logo.png" %}" alt="logo" class="logo">
       
        <form>
            <label for="department-select">Ваши отделения</label>
            <select name="department" id="department-select" class="ds-select" onchange="ShowPatients()">
                <option value="all" {% if current_department_id == 'all' %}selected{% endif %}>Все отделения</option>
                {% for dep in departments %}
                <option value="{{ dep.id }}" {% if dep.id == current_department_id %}selected{% endif %}>{{ dep }}</option>
                {% endfor %}
            </select>
        </form>
        
        
        <div style="position: relative; display: inline-block;">
            <a href="#" class="dropdown-toggle"><i class="fa-solid fa-user-nurse doctor doctor-icon"></i><span>{{doctor_name}}</span></a>
            <div class="dropdown-menu">
                <div class="doctor-name">{{doctor_name}}</div>
                <button href="{% url 'accounts:logout' %}  "class="logout-button" onclick="Exit()" >Выход</button>
            </div>
        </div>
    </div>
</header>
{%endblock%}
{%block content%}
    <div class="block1">
        <div class="block2">
            <button class="btn_block2 active" id="all-patients-btn">Все пациенты</button>
            <button class="btn_block2" id="my-patients-btn">Мои пациенты</button> 
        </div>
        <form class="input-group" onsubmit="return false;">
            <input id="search-input" name="q" type="text" class="search" placeholder="Поиск пациента">
            <button id="search-btn" type="button" onclick="search_patients()" class="search-btn">Поиск</button>
        </form>
    </div>
    <div class="patient-list">
        {%for patient in patients_of_department%}
            <a class="patient-item">
                <span><i style="margin-right: 5px;" class="fa-solid fa-clipboard-user"></i> {{patient.last_name}} {{patient.first_name}} {{patient.surname}}</span>
                <span>{{ patient.age }} {{ patient.age|age_pluralize }}, госпитализация: {{patient.receipt_date|date:"d.m.Y H:i"}}</span>
            </a> 
        {%endfor%}
        </div>

    <div class="my-patients">
        {%for patient in patients_of_doctor%}
            <a class="patient-item">
                <span><i style="margin-right: 10px;" class="fa-solid fa-clipboard-user"></i>{{patient.last_name}} {{patient.first_name}} {{patient.surname}}</span>
                <span>{{ patient.age }} {{ patient.age|age_pluralize }}, госпитализация: {{patient.receipt_date|date:"d.m.Y H:i"}}</span>
            </a> 
        {%endfor%}
    </div>
{%endblock%}

{%block scripts%}
<script src="{%static "scripts/department.js"%}"></script>
<script src = "{%static "scripts/get_patients.js"%}"></script>
{%endblock%}